/*
 * jQuery FlexSlider v2.7.2
 * https://www.woocommerce.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face
{
    font-family: 'flexslider-icon';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover
{
    outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.flex-pauseplay span
{
    text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider
{
    margin: 0;
    padding: 0;
}
.flexslider .slides > li
{
    display: none;

    -webkit-backface-visibility: hidden;
}
.flexslider .slides img
{
    display: block;

    width: 100%;
}
.flexslider .slides:after
{
    line-height: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '\0020';
}
html[xmlns] .flexslider .slides
{
    display: block;
}
* html .flexslider .slides
{
    height: 1%;
}
.no-js .flexslider .slides > li:first-child
{
    display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider
{
    position: relative;

    zoom: 1;

    margin: 0 0 60px;

    border: 4px solid #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
       -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
            box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);

         -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
}
.flexslider .slides
{
    zoom: 1;
}
.flexslider .slides img
{
    height: auto;

    -moz-user-select: none;
}
.flex-viewport
{
    max-height: 2000px;

    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}
.loading .flex-viewport
{
    max-height: 300px;
}
@-moz-document url-prefix()
{
    .loading .flex-viewport
    {
        max-height: none;
    }
}
.carousel li
{
    margin-right: 5px;
}
.flex-direction-nav
{
    *height: 0;
}
.flex-direction-nav a
{
    position: absolute;
    z-index: 10;
    top: 50%;

    display: block;
    overflow: hidden;

    width: 40px;
    height: 40px;
    margin: -20px 0 0;

    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    text-decoration: none;

    opacity: 0;
    color: rgba(0, 0, 0, .8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
}
.flex-direction-nav a:before
{
    font-family: 'flexslider-icon';
    font-size: 40px;

    display: inline-block;

    content: '\f001';

    color: rgba(0, 0, 0, .8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
}
.flex-direction-nav a.flex-next:before
{
    content: '\f002';
}
.flex-direction-nav .flex-prev
{
    left: -50px;
}
.flex-direction-nav .flex-next
{
    right: -50px;

    text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev
{
    left: 10px;

    opacity: .7;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover
{
    opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next
{
    right: 10px;

    opacity: .7;
}
.flexslider:hover .flex-direction-nav .flex-next:hover
{
    opacity: 1;
}
.flex-direction-nav .flex-disabled
{
    z-index: -1;

    cursor: default;

    opacity: 0!important;

    filter: alpha(opacity=0);
}
.flex-pauseplay a
{
    position: absolute;
    z-index: 10;
    bottom: 5px;
    left: 10px;

    display: block;
    overflow: hidden;

    width: 20px;
    height: 20px;

    cursor: pointer;

    opacity: .8;
    color: #000;
}
.flex-pauseplay a:before
{
    font-family: 'flexslider-icon';
    font-size: 20px;

    display: inline-block;

    content: '\f004';
}
.flex-pauseplay a:hover
{
    opacity: 1;
}
.flex-pauseplay a.flex-play:before
{
    content: '\f003';
}
.flex-control-nav
{
    position: absolute;
    bottom: -40px;

    width: 100%;

    text-align: center;
}
.flex-control-nav li
{
    display: inline-block;
    zoom: 1;

    margin: 0 6px;

    *display: inline;
}
.flex-control-paging li a
{
    display: block;

    width: 11px;
    height: 11px;

    cursor: pointer;
    text-indent: -9999px;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background: #666;
    background: rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
       -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
            box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);

         -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
}
.flex-control-paging li a:hover
{
    background: #333;
    background: rgba(0, 0, 0, .7);
}
.flex-control-paging li a.flex-active
{
    cursor: default;

    background: #000;
    background: rgba(0, 0, 0, .9);
}
.flex-control-thumbs
{
    position: static;

    overflow: hidden;

    margin: 5px 0 0;
}
.flex-control-thumbs li
{
    float: left;

    width: 25%;
    margin: 0;
}
.flex-control-thumbs img
{
    display: block;

    width: 100%;
    height: auto;

    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;

    opacity: .7;
}
.flex-control-thumbs img:hover
{
    opacity: 1;
}
.flex-control-thumbs .flex-active
{
    cursor: default;

    opacity: 1;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px)
{
    .flex-direction-nav .flex-prev
    {
        left: 10px;

        opacity: 1;
    }
    .flex-direction-nav .flex-next
    {
        right: 10px;

        opacity: 1;
    }
}
