h1
{
    font-family: $font-franklinCompBold, sans-serif;
    font-size: 55px;
    font-weight: $fontweight-black;
    line-height: 50px;

    margin: 20px 0;

    text-transform: uppercase;

    color: $lift-off-black;
}

h2
{
    font-family: $font-franklinCompBold, sans-serif;
    font-size: 45px;
    font-weight: bold !important;
    line-height: 56px;

    text-transform: uppercase;
}

h3
{
    font-size: 30px;
    line-height: 40px;
}

h4
{
    font-size: 25px;
    line-height: 40px;
}

h5
{
    font-size: 20px;
    line-height: 30px;
}

h2,
h3,
h4,
h5
{
    font-family: $font-franklinCompBold, sans-serif;
    font-weight: $fontweight-black;

    margin-top: 30px;
    margin-bottom: 32px;

    color: $lift-off-black;
}

address
{
    font-family: $font-openSans;
    font-size: 16px;
    font-weight: $fontweight-light;
    font-style: italic;
    line-height: 20px;

    margin: $baseParagraphMargin 0;

    color: $lift-off-black;
}


p
{
    font-family: $font-openSans;
    font-size: 16px;
    font-weight: $fontweight-light;
    line-height: 30px;

    margin: $baseParagraphMargin 0;

    color: $lift-off-black;
}

a
{
    font-family: $font-openSans;

    text-decoration: none;

    &:hover,
    &:focus
    {
        text-decoration: underline;
    }
}

.paragraphType-image-caption
{
    display: flex;
    flex-direction: column;

    align-items: center;

    img
    {
        border-radius: 10px;
    }

    .fieldName-field-caption
    {
        font-size: 16px;
        line-height: 27px;

        color: $color-grey;
    }
}

blockquote p
{
    font-size: 32px;
    line-height: 50px;

    color: $color-navy;
}

b,
strong
{
    font-weight: $fontweight-black;
}


em
{
    font-style: oblique;
}


i
{
    font-style: italic;
}


small
{
    font-size: .8em;
}


big
{
    font-size: 1.2em;
}


dl dt
{
    font-weight: $fontweight-black;
}


abbr
{
    text-transform: uppercase;
}

.caption > figcaption
{
    font-size: 16px;
    line-height: 27px;

    text-align: center;

    color: $color-grey;
}

.node-content ul li
{
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;

    list-style: none;

    color: $color-navy;

    &:before
    {
        font-size: 60px;

        position: relative;
        top: 15px;

        padding-right: 10px;

        content: '\2022';

        color: $color-red;
    }
}

.blog-post
{
    ul
    {
        padding-left: 2rem;

        li
        {
            line-height: 1.3;

            list-style: disc;

            color: #000;
        }
    }
}

ul
{
    padding-left: 0;

    li
    {
        font-family: 'Open Sands', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;

        list-style: none;
    }
}

.node-content ol li
{
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;

    color: $color-navy;
}
