.site-content {
	// margin-bottom: 80px;
}

.page-template-page-contact-us {

	.site-content {
		margin-bottom: 0px;
	}
}

.content-section {
	@include layoutReadingContent();
	margin-top: 40px;
	margin-bottom: 40px;
}

.black-heading-with-text--title-2 {

	h2 {
		margin: 0px 0px 10px;
	}
}


.page-template-page-about {

	.partners {
		display: none;
	}
}

.giving-list {

	li {
		margin: .5em 0 !important;

		a {
			color: #1e1e1e;
			font-weight: 400;
			text-decoration: underline;
		}
	}
}

.gsc-wrapper {
	.gsc-adBlock {
		display: none !important;
	}
}
