@mixin blueButton
{
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;

    display: block;

    width: 330px;
    min-height: 67px;
    padding: 15px 20px;

    transition: all .3s ease-in;
    text-align: center;

    color: $lift-blue;
    border: 1px solid $lift-blue;

    &:hover
    {
        transition: all .3s ease-in;
        text-decoration: none;

        color: $lift-white;
        background-color: $lift-blue ;
    }
}

@mixin blueButtonSmall
{
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;

    display: block;

    padding: 0 20px;

    transition: all .3s ease-in;
    text-align: center;

    color: $lift-blue;
    border: 1px solid $lift-blue;

    &:hover
    {
        transition: all .3s ease-in;
        text-decoration: none;

        color: $lift-white;
        background-color: $lift-blue ;
    }
}
