@mixin colorOverlay($color) {
  position: relative;
  background-color: $color;
  background-blend-mode: multiply;

  .browser-ie &
  .browser-edge & {
    background-blend-mode: none;

    &:before {
      display: none;
    }

    &:after {
      background-color: rgba( darken($color, 10%), 0.80);
      mix-blend-mode: none;
    }
  }
}
