@mixin layoutInnerPadding() {
  padding-left: $sidePaddingMax;
  padding-right: $sidePaddingMax;

  @media (max-width: $width-l) {
    padding-left: calc($sidePaddingMax/2);
    padding-right: calc($sidePaddingMax/2);
  }

  @media (max-width: $width-s) {
    padding-left: calc($sidePaddingMax/4);
    padding-right: calc($sidePaddingMax/4);
  }
}

@mixin layoutInnerPaddingLeft() {
  padding-left: $sidePaddingMax;

  @media (max-width: $width-l) {
    padding-left: calc($sidePaddingMax/2);
  }

  @media (max-width: $width-s) {
    padding-left: calc($sidePaddingMax/4);
  }
}

@mixin layoutInnerPaddingRight() {
  padding-right: $sidePaddingMax;

  @media (max-width: $width-l) {
    padding-right: calc($sidePaddingMax/2);
  }

  @media (max-width: $width-s) {
    padding-right: calc($sidePaddingMax/4);
  }
}
